h2 {
    margin: 0;
    color: white;
    font-size: 100px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

header {
    background-color: #4CAF50;
    padding: 0px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.tabs {
    display: flex;
    justify-content: space-around;
    background-color: #845EC2;
    padding: 10px;
}

.tab {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #ddd;
}

.tabs a {
    color: white;
    text-decoration: none;
}

form {
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #845EC2;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-section {
    border: 2px solid #845EC2;
    background-color: #a599ba;
    padding: 20px;
    position: relative;
    top: -240px;
    right: -50px;
    width: 400px;
    height: 240px;
    box-sizing: border-box;
}


.custom-section p {
    text-align: left; /* Align text elements to the right */
    margin: 50; /* Remove default margin */
    margin-left: 180px;
}

.custom-section h3 {
    text-align: center; /* Align text elements to the right */
    margin-top: -30px;
    margin: 50; /* Remove default margin */
    
}
.custom-section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 15px 0; /* Adjust margin for spacing */
}


label {
    display: block;
    margin-bottom: 8px;
    color: black;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
